langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
langchain-core
langchain-text-splitters
sentence-transformers
chromadb
pymupdf
fastapi
uvicorn[standard]
python-dotenv
pydantic
slowapi
presidio-analyzer
presidio-anonymizer
spacy
tiktoken
httpx
azure-identity
azure-keyvault-secrets
python-multipart